/* #add-account {
    float: left;
    border: 1px solid black;
}

#search-account {
    float: left;
    clear: right;
    margin-right: 100px;
} */

table tbody tr .edit {
    display: none;
}

table tbody tr.edit .edit {
    display: initial;
}

table tbody tr.edit .noedit {
    display: none;
}

table {
    border-collapse:collapse;
}

tr {
    border:1px skyblue;
}