{% extends "base.html" %}
{% block title %}Admin{% endblock %}

{% block content %} 
<form class="container" action="/admin" method="POST" style="margin-left: 0;">
    <div class="form-group">
        <label>Question Description</label> 
        <input class="form-control" type="password" name="question_desc">
    </div>
    <div class="form-group">
        <label>Question choice1</label> 
        <input class="form-control" type="password" name="question_choice1">
    </div>
    <div class="form-group">
        <label>Question choice2</label> 
        <input class="form-control" type="password" name="question_choice2">
    </div>
    <div class="form-group">
        <label>Question choice3</label> 
        <input class="form-control" type="password" name="question_choice3">
    </div>
    <div class="form-group">
        <label>Question choice4</label> 
        <input class="form-control" type="password" name="question_choice4">
    </div>
    <input class="btn btn-primary" type="submit" value="Add">

</form>
<br>
<!--  search bar to find the related questions -->
<form class="container" class="form-inline my-2 my-lg-0" style="margin-left: 0;">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<br>
<!-- populate the searching result as a table here -->
<!-- on the right side of each row, there will be two buttons, update or delete -->
<table class="container" class="table table-striped" style="margin-left: 0;">
    <thead>
      <tr>
        <th scope="col">Question ID#</th>
        <th scope="col">Question Description</th>
        <th scope="col">Choice1</th>
        <th scope="col">Choice2</th>
        <th scope="col">Choice3</th>
        <th scope="col">Choice4</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1220</th>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td><input class="btn btn-primary" type="submit" value="Update"></td>
        <td><input class="btn btn-primary" type="submit" value="Delete"></td>
      </tr>
    </tbody>
</table>
{% endblock %}