{% extends "base.html" %}
{% block title %}Questions{% endblock %}

{% block content %} 
<div class="container" style="margin-left: 0;">
  <h3><a href="/questions">Questions</a></h3>
  <p>
    This page is used to manage the Questions and QuestionChoices table. The QuestionChoices is an aided table for the Questions
    table based on 1NF principle. 
    <ul>
      <li>The "Questions Table" displays the exsiting questions in the database.</li>
      <li>A form is provided to add a new question. </li>
      <li hidden>Has the search question function by keywords.</li>
      <li>For each question, update and delete functions are enabled.</li>
    </ul>
  </p>   
</div>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <!-- add a new question form -->
      <form class="container" style="margin-left: 0;">
        <div>
          <h4>Add a New Question</h4>
        </div>
        <div class="form-group">
            <label>Question Description</label> 
            <input class="form-control" type="text" name="question_desc" id="question-desc">
        </div>
        <div class="form-group">
          <label>State</label> 
          <select name="state" id="state">
            <option>Universal</option>
            <option>California</option>
            <option>Oregon</option>
          </select>
        </div>
        <div class="form-group">
            <label>Choice1</label> 
            <input class="form-control" type="text" name="choice1" id="choice-1">
        </div>
        <div class="form-group">
            <label>Choice2</label> 
            <input class="form-control" type="text" name="choice2" id="choice-2">
        </div>
        <div class="form-group">
            <label>Choice3</label> 
            <input class="form-control" type="text" name="choice3" id="choice-3">
        </div>
        <div class="form-group">
          <label>Right Answer</label>
          <select id="right-answer">
            <option disabled="true" selected> --Select one choice--</option>
            <option value="choice1">Choice1</option>
            <option value="choice2">Choice2</option>
            <option value="choice3">Choice3</option>
          </select>
        </div>
        <input class="btn btn-primary" type="button" value="Add" id="add-question">
      </form>
    </div>
    <!--  search bar to find the related questions -->
    <!-- <div class="col-lg">
      <div>
        <h4>Search Question</h4>
      </div>
      <form class="container" action="/api/questions" method="GET">
        <input class="form-control mr-sm-2" type="search" name="keywords" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div> -->
  </div>
</div>
<div class="container">
  <p id='error-message'></p>
</div>

<br>
<br>
<!-- populate the searching result as a table here -->
<!-- on the right side of each row, there will be two buttons, update or delete -->
<div class="container-fluid">
  <div>
    <h4>Questions Table</h4>
  </div>
  <table class="container" class="table table-bordered" style="margin-left: 0;">
    <thead>
      <tr>
        <th scope="col">Question ID#</th>
        <th scope="col">State</th>
        <th scope="col">Question Description</th>
        <th scope="col">Right Answer</th>
        <th scope="col">Choice1</th>
        <th scope="col">Choice2</th>
        <th scope="col">Choice3</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="question-table"></tbody>
  </table>
</div>
<br>
<br>
<br>
<br>
{% raw %}
<template id="question-template">
    <tr>
        <th scope="row">{{question_id}}</th>
        <td>
          <span class="noedit state">{{state}}</span>
          <!-- <input class="edit state" > -->
          <select class="edit state" id="edit-state">
            <option disabled="true" value="{{state}}" selected>{{state}}</option>
            <option value="Universal">Universal</option>
            <option value="California">California</option>
            <option value="Oregon">Oregon</option>
          </select>

        </td>
        <td><span class="noedit question_desc">{{question_desc}}</span><input class="edit question_desc" ></td>
        <td>
          <span class="noedit right_answer">{{right_answer}}</span>
          <!-- <input class="edit right_answer" > -->
          <select class="edit right_answer" id="edit-right-answer">
            <option disabled="true" value="{{right_answer}}" selected>{{right_answer}}</option>
            <option value="choice1">choice1</option>
            <option value="choice2">choice2</option>
            <option value="choice3">Choice3</option>
          </select>
        </td>
        <td><span class="noedit choice_1">{{choice_1}}</span><input type="text" class="edit choice_1" ></td>
        <td><span class="noedit choice_2">{{choice_2}}</span><input type="text" class="edit choice_2" ></td>
        <td><span class="noedit choice_3">{{choice_3}}</span><input type="text" class="edit choice_3" ></td>
        <td>
            <input class="btn btn-primary noedit" type="button" value="Delete" question_id="{{question_id}}" id="delete-question">
            <input class="btn btn-primary noedit" type="button" value="Edit" question_id="{{question_id}}" id="edit-question">
            <input class="btn btn-primary edit" type="button" value="Save" question_id="{{question_id}}" id="save-edit-question">
            <input class="btn btn-primary edit" type="button" value="Cancel" question_id="{{question_id}}" id="cancel-edit-question">
        </td>
    </tr>
</template>
{% endraw %}

<script src=" {{ url_for('static', filename='questions.js') }}"></script>


{% endblock %}