{% extends "base.html" %}
{% block title %}QuizRecords{% endblock %}

{% block content %} 

<div class="container" style="margin-left: 0;">
  <h3><a href="/quiz_records">QuizRecords</a></h3>
  <p>
      This page is used to as a form to update info on a record in the QuizRecords table.
	<ul>  
	  <li>Previous data for the record being updated is automatically set as default values for input fields </li>
	  <li>Input validation is implemented so the admin doesn't add invalid inputs</li>
          <li>If admin chooses to not make any changes to the record they shall click "Discard Changes" and be returned to the front-end</li>
	</ul>
  </p>   
</div>

<div>
<form class="container" action="/api/quiz_records/update/{{user_id}}" method="POST" style="margin-left: 0;">
    <h4>Update quiz record</h4>
	
{% with messages = get_flashed_messages() %}
	{% if messages %}
	<br>
		{% for msg in messages %}
			<h5 class="container-fluid" id="flash">{{msg}}</h5>
		{% endfor %}
	{% endif %}
{% endwith %}

<br>	
    <div class="form-group">
	<p>Initial User ID: {{record[0]}}</p>
    <label>User ID</label>	
    <select name="quiz_user_id_to_update">
	    <option value=''>None</option>
	  {% for id in id_list %}
	    {% if id[0] == record[0] %}
	    	<option value="{{id[0]}}" SELECTED >{{id[0]}} ({{id[1]}}'s ID)</option>
	    {% else %}
	    	<option value="{{id[0]}}" >{{id[0]}} ({{id[1]}}'s ID)</option>
	    {% endif %}
    	  {% endfor %}
    </select>
    </div>	    
<br>	
	
    <div class="form-group">
	    <p>Initial Quiz Date: {{record[1]}}</p>
        <label>Quiz date</label> 
        <input class="form-control" type="date" name="quiz_date_to_update" value={{record[1]}}>
    </div>
<br>  
  

    <div class="form-group">
	    <p>Initial Quiz State: {{record[2]}}</p>
        <label>Quiz State</label>
            <select name="quiz_state_to_update">
		{% if record[2] == 'California' %}
                	<option value="California" SELECTED>California</option>
			<option value="Oregon">Oregon</option>
		{% else %}
                	<option value="Oregon" SELECTED>Oregon</option>		
	               	<option value="California">California</option>
		{% endif %}
            </select> 
    </div>
<br>
	
    <div class="form-group">
	    <p>Initial Score: {{record[3]}}</p>
        <label>Quiz Score</label> 
        <input class="form-control" type="number" name="quiz_score_to_update" value={{record[3]}}>
    </div>
<br>
    <input class="btn btn-primary" type="submit" value="Save Changes">	
</form>
<br>	
    <div class="container-fluid"><input class="btn btn-primary" type="submit" value="Discard Changes" onclick="window.location = '/quiz_records'"></div>
</div>	


{% endblock %}
