{% extends "base.html" %}
{% block title %}Quiz_User{% endblock %}

{% block content %} 
<div class="container" style="margin-left: 0;">
  <h3><a href="/quiz_user">QuizRecords</a></h3>
  <p>
      This page is used to manage the QuizRecords table. 
	<ul>
	  <li>Normally, the information of this table should come from the customer facing website, but admins can manually insert the result of a quiz. </li>
	  <li>Each time a user took a quiz, results of that quiz will be inserted into this table.</li>
      <li>On this page, the admin staff can insert a quiz record into the table, search for a particular quiz result as well, and delete a record from the table. </li>
	</ul>
  </p>   
</div>

<form class="container" action="quiz_user" method="POST" style="margin-left: 0;">
    <div>
        <h4>Add a Quiz record Manually</h4>
    </div>
    <div class="form-group">
        <label>User ID</label> 
        <input class="form-control" type="number" name="user_id">
    </div>
    <div class="form-group">
        <label>Quiz Date</label> 
        <input class="form-control" type="date" name="quiz_date">
    </div>
    <div class="form-group">
        <label>Quiz State</label> 
        <input class="form-control" type="text" name="quiz_state">
    </div>
    <div class="form-group">
        <label>Quiz Score</label> 
        <input class="form-control" type="number" name="quiz_score">
    </div>
    <input class="btn btn-primary" type="submit" value="Add">
</form>

<form class="container" class="form-inline my-2 my-lg-0" style="margin-left: 0;">
  <div>
    <h4>Search for a Quiz record</h4>	
  </div>
  <div>
    <label>Quiz_State: <input class="form-control" type="text" name="quiz_id"></label>
  </div>    
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<form class="container2" class="form-inline my-2 my-lg-0" style="margin-left: 0;">
  <div>
    <h4>Search for Quiz records you want to delete that are older than the date specified</h4>	
  </div>
  <div>
    <label>Quiz_Date: <input class="form-control" type="date" name="quiz_date"></label>
  </div>    
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>


<!-- populate the searching result as a table here -->
<!-- on the right side of each row, there will be two buttons, update or delete -->
<table class="container" class="table table-striped" style="margin-left: 0;">
  <div>
    <h4>Delete quiz record</h4>
  </div>
  <thead>
    <tr>
      <th scope="col">Quiz ID#</th>
      <th scope="col">User ID#</th>
      <th scope="col">Quiz Date</th>
      <th scope="col">Quiz State</th>
      <th scope="col">Quiz Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">101</th>
      <td>122</td>
      <td>03/28/2021</td>
      <td>California</td>
      <td>75</td>    
    </tr>
  </tbody>
</table>
<input class="btn btn-primary" type="submit" value="Delete All">
{% endblock %}
