{% extends "base.html" %}
{% block title %}Quiz{% endblock %}

{% block content %} 
<div id="app">
    <header id="dmv-header">
        <div id="container">
            <nav>
                <a>Please select</a>
                <div>
                    <div class="navbar-states"></div>
                    <div class="navbar-tests"></div>
                    <div class="navbar-types"></div>
                    <div class="navbar-lang"></div>
                </div>
            </nav>
        </div>
    </header>

</div>
{% endblock %}