{% extends "base.html" %}
{% block title %}Record{% endblock %}

{% block content %} 
<h1>Hi, this is your Record's page</h1>
<p>You can view all your quiz scores that date back to ddth day and mmth month ago.
  For example: If you select 3 as the day and 7 as the month, then you can view all scores with the past 7 months and 3 days</p>
<div class="day">
    <label for="exampleFormControlSelect1">Choose day</label>
    <select name="day">
        <option>1</option>
        <option>2</option>
    </select>
</div>
<div class="month">
    <label for="exampleFormControlSelect2">Choose month</label>
    <select name="day">
        <option>1</option>
        <option>2</option>
    </select>

{% endblock %}
