{% extends "base.html" %}
{% block title %}Simulators{% endblock %}

{% block content %} 

<div class="container" style="margin-left: 0;">
  <h3><a href="/simulators">Simulators</a></h3>
  <p>
      This page is used to manage the Simulators table.
	<ul>  
	  <li>Normally, the information of this table should come from the customer facing website, but admins can manually insert user play info. </li>
	  <li>Each time a user plays the simulator, information on that simulator playthrough will be inserted into this table.</li>
      <li>On this page, the admin staff can insert playthrough info into the table, they can search for the result of a particular 
	  simulator playthrough, and they can remove a record of the playthrough.</li>
	</ul>
  </p>   
</div>

<div>
<form class="container" action="/api/simulators/add" method="POST" style="margin-left: 0;">
    <div>
       <h4>Add scenario result Manually</h4>
    </div>	
  
    <div class="form-group">
    <label>User ID</label>	    
    <select name="user_id" action="/simulator">
	    <option value=''>None</option>
	{% for id in id_list %}
	    <option value="{{id[0]}}" SELECTED>{{id[0]}} ({{id[1]}}'s ID)</option>"
        {% endfor %}
    </select>
    </div>	    
	
    <div class="form-group">
        <label class="col-sm-4 col-form-label">Grade</label>
            <select name="grade">
                <option value="1">Pass</option>
                <option value="0">Fail</option>
            </select> 
    </div>
    <div class="form-group">
        <label>Play date</label> 
        <input class="form-control" type="date" name="play_date">
    </div>
    <div class="form-group">
        <label>Scenario</label> 
        <input class="form-control" type="text" name="scenario">
    </div>
    <input class="btn btn-primary" type="submit" value="Add">
</form>
</div>	
<br>

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for msg in messages %}
			<h5 class="container-fluid" id="flash">{{msg}}</h5>
		{% endfor %}
	{% endif %}
{% endwith %}

<br>
<div class="container-fluid">
<h4>Current list of simulator records</h4>
<table class="container" class="table table-striped" style="margin-left: 0;">
  <thead>
    <tr>
      <th scope="col">Result ID#</th>
      <th scope="col">User ID#</th>
      <th scope="col">Grading</th>
      <th scope="col">Play date</th>
      <th scope="col">Scenario Name</th>
    </tr>
  </thead>
  <tbody>
    {% for item in result %}
    <tr>
      <th scope="row">{{item[0]}}</th>
      <td>{{item[1]}}</td>
      <td>{{item[2]}}</td>
      <td>{{item[3]}}</td>
      <td>{{item[4]}}</td>
      <td><input class="btn btn-primary" type="submit" value="Update" onclick="window.location = '/api/simulators/update/{{item[0]}}'"></td>
      <td><input class="btn btn-primary" type="submit" value="Delete" onclick="window.location = '/api/simulators/delete/{{item[0]}}'"></td>
    </tr>
    {% endfor %}
  </tbody>	
</table>
</div>
<br>

<br>
<div class="container-fluid">
<form class="container2" action="/simulators" method="GET" class="form-inline my-2 my-lg-0" style="margin-left: 0;"> 
  <div>
   <h4>Search for scenario record(s) by scenario name</h4>
  </div> 
 
  <div class="form-group">
    <label>Scenario</label>	    
    <select name="sim_scenario" action="/simulator">
	{% for scene in scenario_list %}
	    <option value="{{scene[0]}}" SELECTED>{{scene[0]}}</option>
        {% endfor %}
	    <option value="Default" SELECTED>Default (no filter)</option>
    </select>
  </div>	 
	
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</div>	
<br>

{% endblock %}
