{% extends "base.html" %}
{% block title %}Simulators{% endblock %}

{% block content %} 
<div class="container" style="margin-left: 0;">
  <h3><a href="/simulators">Simulators</a></h3>
  <p>
      This page is used to manage the Simulators table.
	<ul>  
	  <li>Normally, the information of this table should come from the customer facing website, but admins can manually insert user play info. </li>
	  <li>Each time a user plays the simulator, information on that simulator playthrough will be inserted into this table.</li>
      <li>On this page, the admin staff can insert playthrough info into the table, they can search for the result of a particular 
	  simulator playthrough, and they can remove a record of the playthrough.</li>
	</ul>
  </p>   
</div>

<div>
<form class="container" action="/api/simulators/add" method="POST" style="margin-left: 0;">
    <div>
       <h4>Add scenario result Manually</h4>
    </div>	
    <div class="form-group">
        <label>User ID</label> 
        <input class="form-control" type="number" name="user_id">
    </div>
    <div class="form-group">
        <label class="col-sm-4 col-form-label">Grade</label>
            <select name="grade">
                <option value="1">Pass</option>
                <option value="0">Fail</option>
            </select> 
    </div>
    <div class="form-group">
        <label>Play date</label> 
        <input class="form-control" type="date" name="play_date">
    </div>
    <div class="form-group">
        <label>Scenario</label> 
        <input class="form-control" type="text" name="scenario">
    </div>
    <input class="btn btn-primary" type="submit" value="Add">
</form>
</div>	
<br>

<div>
<h4>Here is your Add result</h4>
<table class="container" class="table table-striped" style="margin-left: 0;">
  <thead>
    <tr>
      <th scope="col">Result ID#</th>
      <th scope="col">User ID#</th>
      <th scope="col">Grading</th>
      <th scope="col">Play date</th>
      <th scope="col">Scenario Name</th>
    </tr>
  </thead>
  <tbody>
    {% for item in result %}
    <tr>
      <td>{{item[0]}}</th>
      <td>{{item[1]}}</td>
      <td>{{item[2]}}</td>
      <td>{{item[3]}}</td>
      <td>{{item[4]}}</td>
    </tr>
    {% endfor %}
  </tbody>	
</table>
</div>
<br>

<div>
<form class="container2" action="/api/simulators/update" method="GET" class="form-inline my-2 my-lg-0" style="margin-left: 0;"> 
  <div>
   <h4>Search for scenario record(s) you want to delete that are older than the date you specify</h4>
  </div> 
  <div>
    <label>Play Date: <input class="form-control" type="date" name="sim_dates"></label>
  </div> 
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</div>	
<br>

<!-- populate the searching result as a table here -->
<!-- on the right side of each row, there will be two buttons, update or delete -->
<div>
<h4>Delete scenario record(s)</h4>
<table class="container" class="table table-striped" style="margin-left: 0;">
  <thead>
    <tr>
      <th scope="col">Result ID#</th>
      <th scope="col">User ID#</th>
      <th scope="col">Grading</th>
      <th scope="col">Play date</th>
      <th scope="col">Scenario Name</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for record in delete_dates %}
    <tr>
      <th scope="row">{{record[0]}}</th>
      <td>{{record[1]}}</td>
      <td>{{record[2]}}</td>
      <td>{{record[3]}}</td>
      <td>{{record[4]}}</td>
      <td><input class="btn btn-primary" type="submit" value="Delete" onclick="window.location = '/api/simulators/delete/{{record[0]}}'"></td>
    </tr>
    {% endfor %}
  </tbody>	
</table>
</div>
<br>
{% endblock %}
