{% extends "base.html" %}
{% block title %}Sim_User{% endblock %}

{% block content %} 
<form action="#" method="post">
<h1>Hi, this is your DMV simulator page</h1>
<p>What scenario you want to play?</p>
<div class="scenario_dropdown">
    <label for="exampleFormControlSelect1">Choose scenario</label>
        <select name="scenario">
          <option>Scenario 1</option>
          <option>Scenario 2</option>
          <option>Scenario 3</option>
        </select>
</div>
<div>
  <input class="btn btn-primary" type="submit" value="Save">
</div>
</form>



<script>
var myGamePiece;

function startGame() {
  myGameArea.start();
  myGamePiece = new component(40, 40, "red", 500, 375);
}

var myGameArea = {
  canvas : document.createElement("canvas"),
  start : function() {
    this.canvas.width = 1000;
    this.canvas.height = 500;
    this.context = this.canvas.getContext("2d");
    document.body.insertBefore(this.canvas, document.body.childNodes[9]);
	this.interval = setInterval(updateGameArea, 20);
  },
  clear : function() {
    this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
  }
}

function component(width, height, color, x, y) {
  this.width = width;
  this.height = height;
  this.x = x;
  this.y = y;
  this.update = function(){
  ctx = myGameArea.context;
  ctx.fillStyle = color;
  ctx.fillRect(this.x, this.y, this.width, this.height);
  }
}

function updateGameArea() {
  myGameArea.clear();
  myGamePiece.update();
}
</script>



{% endblock %}
