{% extends "base.html" %}
{% block title %}Users{% endblock %}

{% block content %}

<div class="container" style="margin-left: 0;">
    <h3><a href="/users">Users</a></h3>
    <p>
        This page is used to manage the Users table. 
        <ul>
            <li>Normally, users' information should come from the customer facing website. But still, the admin staff can insert a user's information manually.</li>
            <li>Also they can select all from the table to monitor the growth of new users.</li>
            <li>To maintain the website, the admin staff can also freeze or close(delete) unusual users' accounts.</li>
        </ul>   
    </p>   
</div>

<div class="container-fluid">
    <div class='row'>
        <!-- Add a new account -->
        <div class="col-lg">
            <form id="add-account" action="/api/users" method="POST">
                <div>
                    <h4>Add New User Account</h4>
                </div>
                <div>
                    <label class="col-sm-4 col-form-label">User Name</label> 
                    <input type="text" name="user_name" id="user_name">
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-form-label">User Password</label> 
                    <input type="text" name="user_password" id="user_password">
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-form-label">User Email</label> 
                    <input type="email" name="user_email" id="user_email">
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-form-label">Register Date</label> 
                    <input type="date" name="regis_date" id="regis_date">
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-form-label">Active</label>
                    <select name="active" id="active">
                        <option value="1">True</option>
                        <option value="0">False</option>
                    </select> 
                </div>
                <input class="btn btn-primary" type="submit" name="add" value="Add" id="add-user">
            </form>
        </div>
        <!-- Search Form -->
        <div class="col-lg">
            <div>
                <h4>Search User Account</h4>
            </div>
            <div>
                <form class="form-group" id="search-account" action="/api/users" method="GET">
                    <input type="search" placeholder="email" name="user_email">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>        
        </div>
    </div>
</div>
<br>
<!-- Table to display the add/search result -->
<div class="container-fluid">
    <h4>Here is the Users table</h4>
    <table class="container" class="table table-striped" style="margin-left: 0;">
        <thead>
        <tr>
            <th scope="col">User ID#</th>
            <th scope="col">Name</th>
            <th scope="col">Password</th>
            <th scope="col">Email</th>
            <th scope="col">Register Date</th>
            <th scope="col">Active</th>
            <th scope="col">Update</th>
            <th scope="col">Close</th>
        </tr>
        </thead>
        <!-- <tbody  id="user-table">
            {% for user in users %}
            <tr user-id="{{user_id}}" id="user-template" class="edit">
                <td>
                    <span class="noEdit id">{{user.user_id}}</span>
                </td>
                <td >
                    <span class="noEdit name">{{user.user_name}}</span>
                    <input class="edit name">
                </td>
                <td >
                    <span class="noEdit password">{{user.user_password}}</span>
                    <input class="edit password">
                </td>
                <td >
                    <span class="noEdit email">{{user.user_email}}</span>
                    <input class="edit email">
                </td>
                <td >
                    <span class="noEdit date">{{user.regis_date}}</span>
                    <input class="edit date">
                </td>
                <td>
                    <span class="noEdit status">{{user.active}}</span>
                    <select class="edit status">
                        <option value="1">True</option>
                        <option value="0">False</option>
                    </select>
                </td>
                
                <td>
                    <button class="noEdit" user-id='{{user_id}}' id='update-user'>Update</button>
                    <button class="edit save" user-id='{{user_id}}' id='save-edit'>Save</button>
                    <button class="edit cancel" user-id='{{user_id}}' id='cancel-edit'>cancel</button>
                </td>
                    
                <td><button class="noEdit" user-id='{{user_id}}' id='delete-user'>Delete</button></td>
            </tr>
            {% endfor %}
        </tbody> -->


        <tbody id="user-table">
        {% for data in users %}
        <tr id="user-template">
            <th scope="row">{{data[0]}}</th>
            <td>{{data[1]}}</td>
            <td>{{data[2]}}</td>
            <td>{{data[3]}}</td>
            <td>{{data[4]}}</td>
            <td>{{data[5]}}</td>
            <td>
                <form action="/api/users/{{data[0]}}" method="PUT">
                    <input class="btn btn-primary" type="submit" value="Update" >
                </form>
            </td>
            <td>
                <form action="/api/users/{{data[0]}}" method="GET">
                    <input class="btn btn-primary" type="submit" value="Delete" >
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody> 
    </table>
</div>

<br>
<br>

<!-- <div>
    <table>
        <thead>
            <th></th>
            <th></th>
        </thead>
        <tbody id="user-template">
            <tr user-id="{{user_id}}">
                <td class="noEdit id">{{user_id}}</td>
                <td class="noEdit name">{{user_name}}</td>
                <input class="edit name">
                <td class="noEdit password">{{user_password}}</td>
                <input class="edit password">
                <td class="noEdit email">{{user_mail}}</td>
                <input class="edit email">
                <td class="noEdit date">{{regis_date}}</td>
                <input class="edit date">
                <td class="noEdit status">{{active}}</td>
                <select class="edit status">
                    <option value="1">True</option>
                    <option value="0">False</option>
                </select>
                <td><button class="noEdit" user-id='{{user_id}}' id='update-user'>Update</button></td>
                <td>
                    <button class="edit" user-id='{{user_id}}' id='save-edit'>Save</button>
                    <button class="edit" user-id='{{user_id}}' id='cancel-edit'>cancel</button>
                </td>
                <td><button user-id='{{user_id}}' id='delete-user'>Delete</button></td>
            </tr>
        </tbody>
    </table>
</div> -->
<div class="container-fluid">
    <div>
        <h4>User Data</h4>
    </div>
    <form class="container" action="/api/users/new" method="GET" style="margin-left: 0;">    
        <div class="form-group">
            <label>From: <input class="form-control" type="date" name="start_date"></label> 
            <label>To: <input class="form-control" type="date" name="end_date"></label>
        </div>
        <input class="btn btn-primary" type="submit" name="choose" value="Choose">
    </form>
</div>
<br>
<br>
<div class="container-fluid">
    <h4>Here is the number of new customers by day</h4>
    <table class="container" class="table table-striped" style="margin-left: 0;">
        <thead>
        <tr>
            <th scope="col">Register Date</th>
            <th scope="col">New Customers</th>
        </tr>
        </thead>
        <tbody>
        {% for number in numbers %}
        <tr>
            <th scope="row">{{number[0]}}</th>
            <td>{{number[1]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<br>
<br>

<script src=" {{ url_for('static', filename='users.js') }}"></script>
{% endblock %}

<!-- {% block script %}
<script src=" {{ url_for('static', filename='users.js') }}"></script>

{% endblock %} -->

